@model PizzaModel

<div class="container">
    <h2 class="mb-3">Crea la tua pizza!</h2>
    <form asp-controller="Pizza" asp-action="AddPizza" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label class="form-label">Nome Pizza</label>
            <input asp-for="Name" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Descrizione</label>
            <textarea asp-for="Description" type="text" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Url Immagine</label>
            <input asp-for="ImgSource" type="text" class="form-control">
        </div>
        <div class="mb-3">
            <label class="form-label">Prezzo</label>
            <input asp-for="Price" type="text" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Crea!</button>
    </form>
</div>
